nvidia_jetson/Test_Data/DAVIS*
nvidia_jetson/Test_Data/YouTube-VOS*

__pycache__/

nvidia_jetson/Results*

Baselines_Repos/*

/home/sw66/Projects/Video-inpainter-for-edge-devices/cusparselt-local-tegra-repo-ubuntu2204-0.7.0_1.0-1_arm64.deb

